<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Customer Management System</title>
</head>

<body>
    {% include 'common/nav.html' %}
    <h1> 아이템 목록 </h1>
    <table>
        <thead>
            <tr>
                {% for key in header %}
                <td>{{ key }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for item in data %}
            <tr>
                <td><a href="/item/{{ item.id }}">{{ item.id }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.unit_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'common/pagination.html' %}
</body>

</html>