<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Customer Management System</title>
</head>

<body>
    {% include 'common/nav.html' %}
    <h1> 상품 정보 </h1>
    <table>
        <thead>
            <tr>
                <td>{{ header[1] }}</td>
                <td>{{ header[3] }}</td>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr>           
                <td>{{data[0].name}}</td>
                <td>{{data[0].unit_price}}</td>
            </tr>
        </tbody>
    </table>
    <BR>
    <h2> 월간 매출액 </h2>
    <table>
        <thead>
            <tr>
                <td>month</td>
                <td>revenue</td>
                <td>count</td>
            </tr>
        </thead>
        <tbody>
            {% for data in itemtotalData %}
            <tr>
                <td>{{data.month}}</td>
                <td>{{data.total}}</td>
                <td>{{data.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <a href="#" onclick="window.history.back(); return false;" id="backHome">Back to List</a>
    </div>
</body>

</html>