<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Customer Management System</title>
</head>

<body>
    {% include 'common/nav.html' %}
    <h1>주문 목록</h1>
    <table>
        <thead>
            <tr>
                {% for key in header %}
                <td>{{ key }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for order in data %}
            <tr>
                <td><a href="/order_item/{{ order.id }}">{{ order.id }}</a></td>
                <td>{{ order.ordered_at }}</td>
                <td>{{ order.store_id }}</td>
                <td>{{ order.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'common/pagination.html' %}
</body>

</html>