{% extends 'common/index.html' %}
{% block content %}
<h1 style="text-align: center; padding: 1rem 0;"> 주문 아이템 목록 </h1>
<table class="table table-hover">
    <thead>
        <tr>
            {% for key in header %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for order_item in data %}
        <tr>
            <td>{{ order_item.id }}</td>
            <td><a href="/order/{{ order_item.order_id }}">{{ order_item.order_id }}</a></td>
            <td><a href="/item/{{ order_item.item_id }}">{{ order_item.item_id }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'common/pagination.html' %}
{% endblock %}