<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Customer Management System</title>
</head>

<body>
    <div>
        <nav>
            <ul>
                <li><a href="/user">User</a></li>
                <li><a href="/order">Order</a></li>
                <li><a href="/order_item">Order Item</a></li>
                <li><a href="/item">Item</a></li>
                <li><a href="/store">Store</a></li>
            </ul>
        </nav>
    </div>
    <h1> 주문 상품 정보 </h1>
    <table>
        <thead>
            <tr>
                {% for key in header %}
                <td>{{ key }}</td>
                {% endfor %}
                <td>item_name</td>
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for order_item in data %}
            <tr>           
                <td>{{order_item.id}}</td>
                <td><a href="/order/{{ order_item.order_id }}">{{order_item.order_id}}</a></td>
                <td><a href="/item/{{ order_item.item_id }}">{{order_item.item_id}}</a></td>
                <td>{{order_item.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <a href="#" onclick="window.history.back(); return false;" id="backHome">Back to List</a>
    </div>
</body>

</html>