{% extends 'common/index.html' %}
{% block content %}
<h1 style="text-align: center; padding: 1rem 0;"> 주문 상품 정보 </h1>
<table class="table table-hover">
    <thead>
        <tr>
            {% for key in header %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>item_name</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for order_item in data %}
        <tr>
            <td>{{order_item.id}}</td>
            <td><a href="/order/{{ order_item.order_id }}">{{order_item.order_id}}</a></td>
            <td><a href="/item/{{ order_item.item_id }}">{{order_item.item_id}}</a></td>
            <td>{{order_item.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align: center; padding: 2rem 0;">
    <a class="btn btn-primary my-1" href="#" onclick="window.history.back(); return false;" id="backHome">Back to List</a>
</div>
{% endblock %}